<template>
  <div>
    <div class="loading" id="js-loader">
      <div class="loader"></div>
    </div>
    <div class="controls">
      <div
        class="controls__item fix"
        :class="halfMode ? 'active' : ''"
        @click="halfMode = !halfMode"
      >Зүсэх</div>
      <div
        class="controls__item yellow"
        :class="color == 0xedbc6d ? 'active' : ''"
        @click="selectColor(0xedbc6d)"
      >Шарлалт</div>
      <div
        class="controls__item black"
        :class="color == 0x000000 ? 'active' : ''"
        @click="selectColor(0x000000)"
      >Цооролт</div>
      <div
        class="controls__item gray"
        :class="color == 0x91A6B4 ? 'active' : ''"
        @click="selectColor(0x91A6B4)"
      >Чулуу</div>
      <div
        class="controls__item fix"
        :class="color == 0xf1f1f1 ? 'active' : ''"
        @click="selectColor(color)"
      >Арилгах</div>
      <div class="controls__item back" @click="$router.push('/')">Буцах</div>
    </div>
    <canvas id="maincanvas"></canvas>
  </div>
</template>

<script type="module">
import * as THREE from "three";
import OrbitControls from "three-orbitcontrols";
import GLTFLoader from "three-gltf-loader";
import { Interaction } from "three.interaction";
import SubdivisionModifier from "three-subdivision-modifier";
function initData() {
  return {
    objPath: `tooth1.glb`,
    halfMode: false,
    loaded: false,
    backgroundColor: 0x00cfea,
    theModel: null,
    activeMesh: null,
    canvasHeight: window.screen.height - 60,
    canvasWidth: "1000",
    color: 0xf1f1f1,
    raycaster: new THREE.Raycaster(),
    mouse: new THREE.Vector2(),
    loader: new GLTFLoader(),
    LOADER: null,
    scene: null,
    canvas: null,
    renderer: null,
    cameraFar: 5,
    camera: null,
    INITIAL_MAP: [],
    initRotate: 0,
    controls: null,
    hemiLight: null,
    light: null,
  };
}
export default {
  mounted() {
    var vm = this;
    vm.LOADER = document.getElementById("js-loader");

    // Init the scene
    vm.scene = new THREE.Scene();
    // Set background
    vm.scene.background = new THREE.Color(vm.backgroundColor);
    vm.scene.fog = new THREE.Fog(vm.backgroundColor, 20, 100);
    var canvas = document.querySelector("#maincanvas");

    // Event listeners
    canvas.addEventListener("mousedown", vm.documentOnClick, false);

    // Init the renderer
    vm.renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true,
      alpha: true,
    });
    vm.renderer.setSize(vm.canvasWidth, vm.canvasHeight);
    vm.renderer.shadowMap.enabled = false;

    vm.renderer.setPixelRatio(window.devicePixelRatio);

    document.body.appendChild(vm.renderer.domElement);

    // Add a camerra
    vm.camera = new THREE.PerspectiveCamera(
      50,
      vm.canvasWidth / vm.canvasHeight,
      0.1,
      1000
    );
    vm.camera.position.z = vm.cameraFar;
    vm.camera.position.x = 0;

    const interaction = new Interaction(vm.renderer, vm.scene, vm.camera);

    // Init the object loader

    vm.loader.load(
      vm.objPath,
      function (gltf) {
        vm.theModel = gltf.scene;
        var subdivisions = 2;
        var modifier = new SubdivisionModifier(subdivisions);
        vm.theModel.traverse((o) => {
          if (o.isMesh) {
            o.geometry = modifier.modify(o.geometry);
            o.castShadow = false;
            o.receiveShadow = false;
            vm.INITIAL_MAP.push({
              childID: o.name,
              mtl: new THREE.MeshPhongMaterial({
                color: vm.color,
                shininess: 10,
              }),
            });
          }
        });

        // Set the models initial scale
        vm.theModel.scale.set(0.1, 0.1, 0.1);
        vm.theModel.rotation.y = Math.PI;

        // Offset the y position a bit
        vm.theModel.position.y = -1;

        // Set initial textures
        for (let object of vm.INITIAL_MAP) {
          vm.initColor(vm.theModel, object.childID, object.mtl);
        }

        // Add the model to the scene
        vm.scene.add(vm.theModel);

        vm.LOADER.remove();
      },
      undefined,
      function (error) {
        console.error(error);
      }
    );

    // Add lights
    vm.hemiLight = new THREE.HemisphereLight(0xffffff, 0xffffff, 0.61);
    vm.hemiLight.position.set(0, 50, 0);
    // Add hemisphere light to scene
    vm.scene.add(vm.hemiLight);

    vm.light = new THREE.PointLight(0xffffff, 0.5);
    vm.camera.add(vm.light);
    vm.scene.add(vm.camera);

    // Add controls
    vm.controls = new OrbitControls(vm.camera, vm.renderer.domElement);
    vm.controls.maxPolarAngle = Math.PI / 2;
    vm.controls.minPolarAngle = Math.PI / 3;
    vm.controls.enableDamping = true;
    vm.controls.minPolarAngle = -Infinity;
    vm.controls.maxPolarAngle = Infinity;
    vm.controls.enablePan = false;
    vm.controls.dampingFactor = 0.1;
    vm.controls.autoRotate = false; // Toggle this if you'd like the chair to automatically rotate
    vm.controls.autoRotateSpeed = 0.2; // 30

    function animate() {
      vm.controls.update();
      vm.renderer.render(vm.scene, vm.camera);
      requestAnimationFrame(animate);

      if (vm.resizeRendererToDisplaySize(vm.renderer)) {
        const canvas = vm.renderer.domElement;
        vm.camera.aspect = canvas.clientWidth / canvas.clientHeight;
        vm.camera.updateProjectionMatrix();
      }
    }
    animate();
  },
  beforeDestroy() {
    document.getElementById("maincanvas").remove();
    this.resetData();
  },
  data() {
    return initData();
  },
  methods: {
    initColor(parent, type, mtl) {
      parent.traverse((o) => {
        if (o.isMesh) {
          if (o.name.includes(type)) {
            o.material = mtl;
            o.nameID = type; // Set a new property to identify this object
          }
        }
      });
    },
    resizeRendererToDisplaySize(renderer) {
      const canvas = this.renderer.domElement;
      var width = this.canvasWidth;
      var height = this.canvasHeight;
      var canvasPixelWidth = canvas.width / window.devicePixelRatio;
      var canvasPixelHeight = canvas.height / window.devicePixelRatio;

      const needResize =
        canvasPixelWidth !== width || canvasPixelHeight !== height;
      if (needResize) {
        renderer.setSize(width, height, false);
      }
      return needResize;
    },
    documentOnClick(e) {
      event.preventDefault();
      this.mouse.x = (event.clientX / this.canvasWidth) * 2 - 1;
      this.mouse.y = -(event.clientY / this.canvasHeight) * 2 + 1;
      this.raycaster.setFromCamera(this.mouse, this.camera);
      var intersects = this.raycaster.intersectObjects(
        this.scene.children[2].children
      );
      if (intersects.length > 0) {
        if (this.color == 0x000000) {
          // this.scene.children[2].children = this.scene.children[2].children.filter(
          //   (i) => {
          //     return i.uuid !== intersects[0].object.uuid;
          //   }
          // );
          const transparentMaterial = new THREE.MeshBasicMaterial({
            color: 0x000000,
            wireframe: false,
            opacity: 0.0,
            transparent: true,
            alphaTest: 0.0,
          });
          intersects[0].object.material = transparentMaterial;
        } else {
          const solidMaterial = new THREE.MeshPhongMaterial({
            color: this.color,
            shininess: 10,
          });
          intersects[0].object.material = solidMaterial;
        }
      }
    },
    selectColor(color) {
      if (this.color == color) {
        this.color = 0xf1f1f1;
      } else {
        this.color = color;
      }
    },
    resetData() {
      Object.assign(this.$data, initData());
    },
  },
};
</script>


<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.loading {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
  width: 100px;
  height: 100px;
}

.loader::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  animation: flip 1s infinite;
}

.controls {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  &__item {
    text-transform: uppercase;
    text-align: center;
    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    &.active {
      transform: scale(1.2, 1.2);
    }
    &.yellow {
      background: yellow;
    }
    &.back {
      background: red;
      color: #fff;
    }
    &.black {
      background: black;
      color: #fff;
    }
    &.gray {
      background: gray;
    }
    &.fix {
      background: #f1f1f1;
      border: 1px solid #ddd;
      color: #000;
    }
  }
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}
</style>