@import "variables";

* {
  margin: 0;
  padding: 0;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $main-color;
}

// DEMO PAGE CSS DARAA NI USTGANA
.login {
  .login-form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 25rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    h1 {
      color: #fff;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    input {
      background: #fff;
      width: 25rem;
      border-radius: 0.8rem;
      box-sizing: border-box;
      border: none;
      color: #aaa;
      margin-bottom: 1.5rem;
      padding: 0.8rem 1.5rem;
    }

    button {
      padding: 0.8rem 1.5rem;
      background: #0559d6;
      width: 25rem;
      color: #fff;
      border: none;
      border-radius: 0.8rem;
    }
  }
}
