<template>
  <div class="login">
    <div class="login-form">
      <h1>Нэвтрэх</h1>
      <input type="text" placeholder="Нэвтрэх нэр" />
      <input type="password" placeholder="Нууц үг" />
      <button @click="$router.push('/teeth')">Нэвтрэх</button>
    </div>
  </div>
</template>

<script type="module">
function initData() {
  return {};
}
export default {
  mounted() {},
  beforeDestroy() {},
  data() {
    return initData();
  },
  methods: {},
};
</script>
<style lang="scss">
</style>